* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 144, 186);
  text-align: center;
  align-items: center;
  justify-items: center;
}

.calc {
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 260px;
  margin-top: 50px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

.switch {
  display: inline-block;
  position: relative;
  height: 34px;
  width: 60px;
  background-color: #ccc;
  border-radius: 34px;
}

.switch_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 34px;
  transition: 0.4s;
  background-color: #ccc;
}

.switch_slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch_input:checked + .switch_slider {
  background-color: #2196f3;
}

.switch_input:checked + .switch_slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}

.switch_block {
  display: flex;
  text-align: center;
  align-items: center;
}

.switch_text {
  text-align: center;
  margin: 20px;
}

.mode-hidden {
  display: none;
}

.mode-active {
  display: block;
}

.calc_simple {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  width: 270px;
  justify-items: center;
}

.numbers {
  height: 25px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #70bbf8;
  padding: 10px;
}

.operators {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 220px;
}

.option {
  display: flex;
  height: 25px;
  width: 35px;
  border: 2px solid #70bbf8;
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.option:hover {
  transition: 0.4s;
  scale: 1.2;
  cursor: pointer;
}

.option:has(.opt:checked) {
  background-color: #ff9800;
  color: white;
  border: 2px solid black;
}

.opt {
  height: 0;
  width: 0;
  opacity: 0;
}

.btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  font-size: 70px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  color: black;
}

.btn:hover {
  scale: 1.1;
  color: #40a7fb;
}

.result {
  width: fit-content;
  height: 20px;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}

.calc_expression {
  margin-top: 30px;
  text-align: center;
  align-items: center;
  justify-items: center;
  width: 270px;
}

.expression {
  height: 40px;
  width: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #70bbf8;
}
